In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('Titanic-Dataset.csv')

In [11]:
print(df.head())
print(df.info())
print(df.describe())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [12]:
survived = df['Survived'].mean()
print('Survival rate:', survived)

mean_age = df['Age'].mean()
print('Average age:', mean_age)
min_age = df['Age'].min()
print('Minimum age:', min_age)
max_age = df['Age'].max()
print('Maximum age:', max_age)

Survival rate: 0.3838383838383838
Average age: 29.69911764705882
Minimum age: 0.42
Maximum age: 80.0

In [14]:
class_counts = df['Pclass'].value_counts()
top_class = class_counts.idxmax()
print('Class with most passengers:', top_class)

youngest = df[df['Age'] == df['Age'].min()]
print('Youngest passenger:', youngest['Name'].values[0])
oldest = df[df['Age'] == df['Age'].max()]
print('Oldest passenger:', oldest['Name'].values[0])

least_fare = df[df['Fare'] == df['Fare'].min()]
print('Passenger with least fare:', least_fare[['Name', 'Fare']].values[0])
most_fare = df[df['Fare'] == df['Fare'].max()]
print('Passenger with highest fare:', most_fare[['Name', 'Fare']].values[0])

Class with most passengers: 3
Youngest passenger: Thomas, Master. Assad Alexander
Oldest passenger: Barkworth, Mr. Algernon Henry Wilson
Passenger with least fare: ['Leonard, Mr. Lionel' 0.0]
Passenger with highest fare: ['Ward, Miss. Anna' 512.3292]